<flexi-button btnSize="x-small" btnIcon="add" btnText="Add" />
<flexi-button btnSize="small" btnIcon="add" btnText="Add" />
<flexi-button btnSize="medium" btnIcon="add" btnText="Add" />
<flexi-button btnSize="large" btnIcon="add" btnText="Add" />

<hr>
<flexi-button btnSize="x-small" btnIcon="add" btnText="Add" [firstText]="true" />
<flexi-button btnSize="small" btnIcon="add" btnText="Add" [firstText]="true" />
<flexi-button btnSize="medium" btnIcon="add" btnText="Add" [firstText]="true" />
<flexi-button btnSize="large" btnIcon="add" btnText="Add" [firstText]="true" />

<hr>
<flexi-button btnSize="large" btnIcon="add" [loading]="true" />