<div style="display: flex; gap: 5px; align-items: end;">
    <flexi-button btnSize="x-small" btnIcon="add" title="Add" [btnColor]="btnColor()" />
    <flexi-button btnSize="x-small" btnIcon="add" btnText="Add" [btnColor]="btnColor()" />
    <flexi-button btnSize="x-small" btnIcon="add" [loading]="true" [btnColor]="btnColor()" />
    <flexi-button btnSize="x-small" btnIcon="add" [loading]="true" [btnColor]="btnColor()" btnWidth="100px" />
    <flexi-button btnSize="x-small" btnIcon="add" loadingText="Loading..." [loading]="true" [btnColor]="btnColor()" />
    <flexi-button btnSize="x-small" btnIcon="add" loadingText="Loading..." [loading]="true" [btnColor]="btnColor()" btnWidth="200px" [btnDisabled]="true" />
</div>
<div style="display: flex; gap: 5px; align-items: end; margin-top: 10px;">
    <flexi-button btnSize="small" btnIcon="add" title="Add" [btnColor]="btnColor()" />
    <flexi-button btnSize="small" btnIcon="add" btnText="Add" [btnColor]="btnColor()" />
    <flexi-button btnSize="small" btnIcon="add" btnText="Add" [loading]="true" [btnColor]="btnColor()" />
    <flexi-button btnSize="small" btnIcon="add" btnText="Add" loadingText="Loading..." [loading]="true" [btnColor]="btnColor()" />
</div>

<div style="display: flex; gap: 5px; align-items: end; margin-top: 10px;">
    <flexi-button btnSize="medium" btnIcon="add" title="Add" [btnColor]="btnColor()" flexiGridTooltip />
    <flexi-button btnSize="medium" btnIcon="add" btnText="Add" [btnColor]="btnColor()" />
    <flexi-button btnSize="medium" btnIcon="add" btnText="Add" [loading]="true" [btnColor]="btnColor()" />
    <flexi-button btnSize="medium" btnIcon="add" btnText="Add" loadingText="Loading..." [loading]="true" [btnColor]="btnColor()" />
</div>

<div style="display: flex; gap: 5px; align-items: end; margin-top: 10px;">
    <flexi-button btnSize="large" btnIcon="add" title="Add" [btnColor]="btnColor()" />
    <flexi-button btnSize="large" btnIcon="add" btnText="Add" [btnColor]="btnColor()" />
    <flexi-button btnSize="large" btnIcon="add" btnText="Add" [loading]="true" [btnColor]="btnColor()" />
    <flexi-button btnSize="large" btnIcon="add" btnText="Add" loadingText="Loading..." [loading]="true" [btnColor]="btnColor()" />
</div>
<hr>